* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --hue: 20;
    --primary-color: hsl(var(--hue), 100%, 26%);
    --hover-color: hsl(var(--hue), 100%, 14%);
    --bg-light: hsl(calc(var(--hue) - 22), 23%, 89%);
    --bg-light-02: hsl(calc(var(--hue) - 10), 12%, 97%);
    --bg-light-03: hsl(calc(var(--hue)), 100%, 98%);

    --brand-beige: hsl(39, 100%, 97%);
    --gray-headline: hsl(calc(var(--hue) + 40), 100%, 5%);
    --gray-paragraph: hsl(calc(var(--hue) - 66), 16%, 24%);
    --swiper-theme-color: var(-primary-color);
    font-size: 62.5%;

    --nav-height: 7.2rem
}

html {
    scroll-behavior: smooth;
}

html,
body{
    width: 100%;
    height: 100%;
}

body {
    font-family: "DM sans", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    background-color: var(--bg-light-02);

    overflow: overlay;

    color: var(--gray-headline);
}

.wrapper{
    width: min(50rem, 100%);
    padding-inline: 2.4rem;
    margin-inline: auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

p{
    color: var(--gray-paragraph);
}

section {
    padding-block: 10rem;
}

section header h4{
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 150%;
    letter-spacing: 0.08rem;

    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

section header h2{
    margin: 0 auto;
    font-size: 3.0rem;
    font-weight: bold;
    color: var(--gray-headline);
}

section header h1{
    font-size: 3.4rem;
}

.btn-schedule{
    width: 263px;
    height: 52px;

    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    text-decoration: none;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    background-color: var(--primary-color);

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 1.6rem 3.2rem;
    width: fit-content;
    gap: 1.6rem;

    transition: background .3s;
}

.btn-schedule:hover{
    background-color: var(--hover-color);
}

.socialLinks {
    display: flex;
    gap: 3.2rem;
}

img{
    max-width: 100%;
}

/*==== NAVIGATION ===========================================*/
nav{
    display: flex;

    height: var(--nav-height);

    position: fixed;
    top: 0;
    width: 100vw;

    z-index: 100;
}

nav .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between
}

nav.scroll {
    background-color: var(--primary-color);
}

nav.scroll svg:nth-child(1) path{
    fill: white;
}

nav.scroll .open-menu svg:nth-child(1) path{
    stroke: white;
}

nav button{
    background: none;
    border: none;
    cursor: pointer;
}

nav .menu,
nav .close-menu{
    position: fixed;
}

nav .logo path[fill*="00856F"] {
    fill: var(--primary-color);
}

nav button.open-menu path{
    stroke: var(--primary-color);
}

/* ==== HOME =========================================== */
#home{
    padding-block: 0;
    padding-top: calc(4.1rem + var(--nav-height));
}

#home::before{
    content: "";
    background-color: var(--bg-light);
    width: 100%;
    height: calc(68% + var(--nav-height));
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#home p {
    margin: 2.4rem auto 3.2rem auto;
    font-size: 1.8rem;
}

#home #ImgMulherDeVerde{
    width: 26.4rem;
    display: block;
    margin-inline: auto;
    object-position: 0 2rem;
}

#home .container {
    background-color: var(--brand-beige);
    border: solid 1px var(--bg-light);
    border-radius: 6px;
    padding: 5rem 0;
    margin: 0 auto;
    width: 100%;
}

#home .container h2 {
    font-size: 4.8rem;
    font-weight: bold;
}

#home .container p {
    margin-top: 0.8rem;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 400;
}

.container p:nth-child(2),
.container p:nth-child(4) {
    padding-bottom: 6rem;
}

/*==== MENU EXPANDED ===========================================*/
body.menu-expanded{
    overflow: hidden;
}

body.menu-expanded > :not(nav){
    visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .open-menu{
    display: none;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
    transform: translateY(100%);
}

body.menu-expanded .menu{
    top: 0;
    left: 0;
    background-color: var(--primary-color);

    width: 100vw;
    height: 100vh;

    transition: transform 300ms;
    transform: translateY(0);
}

body.menu-expanded .menu .sections{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: calc(6rem + var(--nav-height));
    gap: 4.8rem;
    padding-bottom: 4.8rem;
}

body.menu-expanded .menu .sections li a{
    font-size: 2.4rem;
    font-weight: 700;
    color: white;
}

body.menu-expanded .menu .sections li a:hover{
    transition: 50s;
    border-bottom: 5px solid white;
}

body.menu-expanded .menu a.button{
    background-color: white;
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;
    text-decoration: none;

    padding: 16px 32px;
    margin-bottom: 8rem;

    display: inline-block;

    border-radius: 4rem;
    border: white solid 2px;
    cursor: pointer;
    transition: 300ms;
}

body.menu-expanded .menu a.button:hover{
    background-color: var(--primary-color);
    color: white;
}

.menu .socialLinks{
    justify-content: center;
}

body.menu-expanded .logo,
body.menu-expanded button{
    position: relative;
    z-index: 100;
}

body.menu-expanded .logo path{
    fill: white;
}

body.menu-expanded button path{
    stroke: white;
}

/*==== SERVICES =========================================== */
#servicos h2{
    margin-bottom: 6rem;
}

#servicos .cards{
    display: grid;
    gap: 3.2rem;
}

#servicos .card{
    display: grid;
    gap: 1.6rem;
    text-align: left;
    padding: 2.4rem;
    border: 1px solid var(--bg-light);
    border-radius: 6px;
    background-color: white;
}

#servicos .card h5{
    font-size: 2.4rem;
}

#servicos .card p{
    line-height: 150%;
}

#servicos .card circle{
    fill: var(--bg-light);
}

/*==== TESTIMONIAL =========================================== */
#testimonial{
    background-color: white;
    overflow: hidden;
}

#testimonial .testimonials img{
    width: 4.2rem;
    border-radius: 1000px;
}

#testimonial h2{
    margin-bottom: 6rem;
}

#testimonial blockquote{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--bg-light-03);
    padding: 3.2rem;
    max-width: 54.2rem;
}

#testimonial path{
    fill: var(--primary-color);
}

#testimonial p{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
}

#testimonial cite{
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

#testimonial cite h5{
    display: inline;
    font-style: normal;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 28px;
}

.swiper-slide {
    height: auto;
    padding: 4rem 1rem;
}

.swiper-pagination-bullet{
    width: 0.75rem;
    height: 0.75rem;
}

.swiper-pagination-bullet-active{
    background: var(--primary-color);
}

/*==== ABOUT =========================================== */
#about{
    background-color: var(--brand-beige);
}

#about header{
    text-align: left;
}

#about h2{
    margin-left: 0;
    margin-bottom: 2.4rem;
}

#about .content p{
    margin-bottom: 6rem;
    line-height: 150%;
    text-align: justify;
}

/*==== CONTACT =========================================== */
#contact{
    text-align: left;
    background-color: white;
}

#contact h2{
    line-height: 3.8rem;
}

#contact ul{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin: 3.2rem 0;
}

#contact li{
    display: flex;
    justify-content: flex-start;
    gap: 0.8rem;
}

#contact a.btn-schedule {
    margin: 0 0 6rem 0;
}

#contact li path{
    stroke: var(--primary-color);
}

#contact .content img{
    display: flex;
    margin: 0 auto;
}

/*==== FOOTER =========================================== */
footer{
    padding-block: 6rem;
    background-color: var(--primary-color);

    text-align: left;
    color: white;
}

footer .logo svg{
    width: 23.6rem;
    height: 3.1rem;
}

footer .logo path{
    fill: white;
}

footer p{
    color: var(--brand-beige);
    padding: 2.4rem 0 3.2rem 0;
    line-height: 2;
}

/* BACK TO TOP */
#backToTopButton{
    position: fixed;

    bottom: 1rem;
    right: 2.5rem;

    opacity: 0;
    visibility: hidden;

    transform: translateY(100%);
    transition: 300ms;
    z-index: 1000;
}

#backToTopButton.show{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

#backToTopButton circle{
    fill: var(--primary-color);
}