@import url('main.css');

/*==== RESOINSIVIDADE NOTEBOOK ===========================================*/
@media (min-width: 1024px) {

    /*==== GERAL ===========================================*/
    .wrapper {
        width: min(112rem, 100%);
        display: grid;
    }

    .btn-schedule{
        margin: 0;
    }

    body{
        overflow: auto;
    }

    section{
        padding-block: 16rem;
    }

    .col-a{
        grid-area: A;
        align-self: center;
    }

    /*==== NAVIGATION ===========================================*/

    /* reset */
    nav#navigation .wrapper *{
        margin: 0;
        padding: 0;
        font-size: initial;
        display: initial;
        visibility: initial;
        opacity: initial;
        flex-direction: initial;
        color: initial;
        background-color: initial;
        font-weight: initial;
        transform: initial;
        position: initial;
    }

    nav#navigation .close-menu,
    nav#navigation .open-menu,
    nav#navigation .socialLinks {
        display: none;
    }

    nav#navigation .menu{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
    }

    nav#navigation .menu ul:nth-child(1){
        display: flex;
        gap: 3.2rem;
    }

    nav#navigation .menu ul li a {
        line-height: 21px;

        color: var(--primary-color);
        opacity: 0.8;
        transition: opacity .4s;
    }

    nav#navigation .menu a.button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2.4rem;
        border: 1px solid var(--primary-color);
        border-radius: 4rem;
        color: var(--primary-color);
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.8rem;
        text-transform: uppercase;
    }

    nav#navigation.scroll .menu ul li a {
        color: var(--bg-light);
        opacity: 0.8;
    }

    nav#navigation.scroll .menu ul li a.active,
    nav#navigation.scroll .menu ul li a:hover {
        opacity: 1;
    }

    nav#navigation.scroll .menu a.button {
        border: 1px solid white;
        color: white;
    }

    nav#navigation.scroll .menu a.button.active,
    nav#navigation.scroll .menu a.button:hover {
        background-color: white;
        color: var(--primary-color);
        transition: 300ms;
    }

    nav#navigation .menu a.button.active,
    nav#navigation .menu a.button:hover {
        background-color: var(--primary-color);
        color: white;
        transition: 300ms;
    }

    nav#navigation .menu li a.active,
    nav#navigation .menu li a:hover {
        opacity: 1;
        font-weight: 700;
    }

    nav#navigation .menu li a::after {
        content: '';
        width: 0%;
        height: 2px;
        display: block;
        background-color: var(--primary-color);

        position: relative;
        bottom: -2.3rem;
        left: -0.5rem;

        transition: width 0.2s;
    }

    nav#navigation.scroll .menu li a::after {
        background-color: white;
    }

    nav#navigation .menu li a.active::after,
    nav#navigation .menu li a:hover::after{
        padding-inline: 0.8rem;
        width: 100%;
        height: 0.3rem;
    }

    /*==== HOME ===========================================*/
    #home::before{
        height: calc(97% - var(--nav-height));
    }

    #home .wrapper{
        grid-template-columns: 60.5rem 1fr;
        grid-template-areas: 
        'A B'
        'C C';
    }

    #home .col-a{
        text-align: left;
    }

    #home h1{
        font-size: 5.2rem;
    }

    #home p{
        font-size: 1.8rem;
    }

    #home .col-b{
        grid-area: B;
    }

    #home .container{
        grid-area: C;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0;
        padding: 6rem;
    }

    #home .container .stat + .stat{
        border-left: solid 1px var(--primary-color);
    }

    #home .container .stat{
        flex: 1;
    }

    #home .container p{
        padding-bottom: 0;
        margin-bottom: 0;

    }

    #home .button {
        margin: 0
    }

    #home .col-b img#ImgMulherDeVerde{
        width: 42rem;
    }

    /*==== SERIVCES ===========================================*/
    #servicos h2{
        font-size: 4rem;
        width: 47rem;
        margin-inline: auto;
    }

    #servicos .cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #servicos .card {
        width: 30%;
        flex-grow: 1;
    }

    /*==== ABOUT ===========================================*/
    #about .wrapper{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        'B A'
    }

    #about .content p{
        margin: 0;
    }

    #about img{
        padding-right: 6.7rem;
        width: 48rem;
    }

    #about h2{
        font-size: 4rem;
        width: 44.7rem;
    }

    /*==== CONTACT ===========================================*/
    #contact h2{
        font-size: 4rem;
        width: 40.4rem;
        margin-left: 0;
    }

    #contact ul{
        margin: 4rem 0;
    }

    #contact .wrapper{
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        'A B'
    }

    #contact .col-b img{
        width: 48rem;
    }

    #contact a.btn-schedule{
        margin: 0;
    }

    /*==== FOOTER ===========================================*/
    footer .wrapper{
        grid-template-columns: 1rf 1rf;
        grid-template-areas: 'A B';
    }

    footer p{
        padding-bottom: 0;
        line-height: 3;
    }

    footer .socialLinks{
        justify-content: center;
    }

    footer .wrapper .col-b{
        align-self: center;
    }
}