* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-green: #00856f;
    --brand-green-hover: #00453a;
    --brand-green-light: #dce9e2;
    --brand-green-light-02: #f7f9f9;
    --brand-beige: #fffaf1;
    --gray-headline: #061800;
    --gray-paragraph: #384633;

    font-size: 62.5%;

    --nav-height: 7.2rem
}

html {
    scroll-behavior: smooth;
}

html,
body{
    width: 100%;
    height: 100%;
}

body {
    font-family: "DM sans", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    background-color: var(--brand-green-light-02);

    overflow: overlay;

    color: var(--gray-headline);
}

.wrapper{
    width: 37.5rem;
    padding-inline: auto;
    margin-inline: auto;
}

ul{
    list-style: none;
}

p{
    color: var(--gray-paragraph);
}

section {
    padding-block: 10rem;
}

section header h4{
    color: var(--brand-green);
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 150%;
    letter-spacing: 0.08rem;

    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

section header h2{
    margin: 0 auto;
    font-size: 3.0rem;
    font-weight: bold;
    color: var(--gray-headline);
}

section header h1{
    font-size: 3.4rem;
}

/*==== NAVIGATION ===========================================*/
nav{
    display: flex;

    height: var(--nav-height);

    position: fixed;
    top: 0;
    width: 100vw;

    z-index: 100;
}

nav .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between
}

nav.scroll {
    background-color: var(--brand-green);
}

nav.scroll svg:nth-child(1) path{
    fill: white;
}

nav.scroll .open-menu svg:nth-child(1) path{
    stroke: white;
}

nav button{
    background: none;
    border: none;
    cursor: pointer;
}

nav .menu,
nav .close-menu{
    position: fixed;
}

/* ==== HOME =========================================== */
#home{
    padding-top: calc(4.1rem + var(--nav-height));
}

#home::before{
    content: "";
    background-color: var(--brand-green-light);
    width: 100%;
    height: calc(108rem + var(--nav-height));
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#home p {
    margin: 2.4rem auto 3.2rem auto;
    font-size: 1.8rem;
}

#home button {
    width: 263px;
    height: 52px;

    color: white;
    font-weight: bold;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    background-color: var(--brand-green);

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 1.6rem;
}

#home #ImgMulherDeVerde{
    display: block;
    margin-inline: auto;
    margin-top: 6rem;
    object-position: 0 2rem;
}

#home .container {
    background-color: var(--brand-beige);
    border: solid 1px var(--brand-green-light);
    border-radius: 6px;
    padding: 5rem 0;
    margin: 0 auto;
    width: 33rem;
}

#home .container h2 {
    font-size: 4.8rem;
    font-weight: bold;
}

#home .container p {
    margin-top: 0.8rem;
}

.container p:nth-child(2),
.container p:nth-child(4) {
    padding-bottom: 6rem;
}

/*==== MENU EXPANDED ===========================================*/
body.menu-expanded{
    overflow: hidden;
}

body.menu-expanded > :not(nav){
    visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .open-menu{
    display: none;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
    transform: translateY(100%);
}

body.menu-expanded .menu{
    top: 0;
    left: 0;
    background-color: var(--brand-green);

    width: 100vw;
    height: 100vh;

    transition: transform 300ms;
    transform: translateY(0);
}

body.menu-expanded .menu .sections{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: calc(6rem + var(--nav-height));
    gap: 4.8rem;
}

body.menu-expanded .menu .sections a{
    font-size: 2.4rem;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

body.menu-expanded .menu button{
    background-color: white;
    color: var(--brand-green);
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 700;

    height: 5.5rem;
    padding: 0 3.2rem;
    margin-bottom: 8rem;

    display: inline-block;

    border: none;
    border-radius: 4rem;
    cursor: pointer;
}

.menu .socialLinks{
    display: flex;
    gap: 3.2rem;
    justify-content: center;
}

body.menu-expanded .logo,
body.menu-expanded button{
    position: relative;
    z-index: 100;
}

body.menu-expanded .logo path{
    fill: white;
}

body.menu-expanded button path{
    stroke: white;
}

/*==== SERVICES =========================================== */
#servicos h2{
    margin-bottom: 6rem;
}

#servicos .cards{
    display: grid;
    gap: 3.2rem;
}

#servicos .card{
    display: grid;
    gap: 1.6rem;
    text-align: left;
    padding: 2.4rem;
    border: 1px solid var(--brand-green-light);
    border-radius: 6px;
    background-color: white;
}

#servicos .card h5{
    font-size: 2.4rem;
    color: var(--gray-headline);
}

#servicos .card p{
    line-height: 150%;
}

/*==== ABOUT =========================================== */
#about{
    background-color: var(--brand-beige);
}

#about header{
    text-align: left;
}

#about h2{
    margin-left: 0;
    margin-bottom: 2.4rem;
}

#about .content p{
    margin-bottom: 6rem;
    line-height: 150%;
    text-align: justify;
}